{% extends 'base.html.twig' %}

{% block body %}

<h1>Ajouter une tâche</h1>

{% for message in app.flashes('error') %}
    <div style="color:red;">
        {{ message }}
    </div>
{% endfor %}

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Ajouter</button>
{{ form_end(form) }}

{% endblock %}
